# Git Ignore File

# To ignore an entire folder, add the folder name followed by a slash:
# Example:
folder_to_ignore/

# The tempdirectory folder
tempdirectory/

# StreamBIM batch processing log folder
pyBS.tab/StreamBIM.panel/Batch Importer Tool/log/*

# Common Python ignores
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE specific files
.idea/
.vscode/
.cursor/
.repomix/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 

# Installer
installer.ps1

# pyRevit LLM.txt
.cursor/pyrevit-llms.txt